.mb-10{
    margin-bottom: 10px;
}

.notas{
    max-height: 90vh;
}

body{
    background: #f7f7f7;
}

.ml-10{
    margin-left: 10px;
}
.img-notes{
    width: 100%;
    height: 240px;
    object-fit: contain;
}